<form *ngFor="let address of addresses.controls, let index" [formGroup]="address">
    <button type="button" mat-button color="warn" (click)="deleteAddress(index)">Delete</button>

    <mat-form-field appearance="fill">
        <mat-label>Addresses</mat-label>
        <input matInput formControlName="addressLine" required>
        <mat-error *ngIf="address.get('addressLine')?.invalid">{{errorMessages[0]}}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>City</mat-label>
        <input matInput formControlName="city">
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Zip</mat-label>
        <input matInput formControlName="zip">
        <mat-error *ngIf="cityControl(address.get('city'), address.get('zip'))">{{errorMessages[1]}}</mat-error>
    </mat-form-field>
</form>
<button type="button" mat-raised-button color="accent" (click)="addAddress()">Add</button>


