<form [formGroup]="profileForm" (ngSubmit)=onSubmit()>
    <mat-form-field appearance="fill" >
        <mat-label for="firstName"> First Name:</mat-label>
        <input matInput type="text" id="firstName" name="firstName"  formControlName="firstName" required />
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label for="lastName">last Name:</mat-label>
        <input matInput type="text" id="lastName" name="lastName"  formControlName="lastName" required/>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label for="age">Age:</mat-label>
        <input matInput type="number" id="age" name="age"  formControlName="age" required min="15" max="100"/>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label for="age">company:</mat-label>
        <input matInput type="text" id="company" name="company"  formControlName="company" required maxLength="35" />
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label for="department">department:</mat-label>
        <input matInput type="text" id="department" name="department"  formControlName="department" required minLength="6" />
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label for="email">email:</mat-label>
        <input matInput type="email" id="email" name="email"  formControlName="email" required />
    </mat-form-field>
    <mat-radio-group formControlName="gender">
        <mat-radio-button value="male">male</mat-radio-button>
        <mat-radio-button value="female">female</mat-radio-button>
    </mat-radio-group>
    <button mat-raised-button color="primary" type="submit" [disabled]="!profileForm.valid">Save</button>
</form>
