<mat-card class="example-card">
    <mat-card-header>
        <mat-card-title class="title">
            {{ card.firstName + ' ' + card.lastName }}
        </mat-card-title>
        <mat-card-subtitle>
            <img mat-card-image class="user-image" src="{{card?.subtitle}}">
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p>{{card?.firstContent}}</p>
        <p>{{ card?.secondContent}}</p>
    </mat-card-content>
    <button mat-icon-button  color="warn" (click)="favorite(card?.id)">
        <mat-icon>favorite</mat-icon>
    </button>
    <a mat-icon-button (click)="goto(card?.id)">edit</a>
</mat-card>


